.container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  justify-content: center;

  height: 12rem;
  width: 17rem;

  border: 1px solid #000000;
  border-radius: 4px;
}

.button {
  min-width: 5rem;
  min-height: 5rem;

  padding: 1rem;
  border-radius: 6px;

  background: rgb(213, 213, 213);
}

.fancy-button {
  min-width: 5rem;
  min-height: 5rem;

  padding: 1rem;
  border-radius: 6px;

  background: white;
  border: solid 1px hsl(196, 40%, 50%);
  cursor: pointer;
}
.fancy-button:hover {
  background-color: hsl(196, 50%, 85%);
}
.fancy-button:active {
  background-color: hsl(196, 50%, 70%);
}
.fancy-button:focus-visible {
  outline: solid 2px hsl(14, 90%, 60%);
  outline-offset: 2px;
}
