---
import ThemeIcon from "~components/ThemeIcon.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
  header {
    margin-bottom: 1rem;
  }
</style>
