<ul class="nav-links">
  <li>
    <a href="/" class:list={{ current: Astro.url.pathname === "/" }}>Home</a>
  </li>
  <li>
    <a href="/blog/1" class:list={{ current: Astro.url.pathname.startsWith("/blog") }}>Blog</a>
  </li>
  <li>
    <a href="/projects" class:list={{ current: Astro.url.pathname.startsWith("/projects") }}>
      Projects
    </a>
  </li>
</ul>

<style>
  .current {
    border-bottom: solid;
  }
</style>
