---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection(
    "blog",
    ({ data }) => (import.meta.env.PROD ? data.status === "published" : true) // show only published posts in production
  );
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort(
    (a, b) => a.localeCompare(b)
  );

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: { posts: posts.filter((post) => post.data.tags.includes(tag)) },
    };
  });
}
export interface Props {
  posts: CollectionEntry<"blog">[];
}
const { posts } = Astro.props;
const { tag } = Astro.params as { tag: string };
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={`/blog/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
