---
import { Image } from "astro:assets";
import profileImage from "~assets/profile.jpg";
import Greeting from "~components/Greeting";
import BaseLayout from "~layouts/BaseLayout.astro";
import RecentPosts from "~components/RecentPosts.astro";
---

<BaseLayout>
  <div class="container">
    <div class="main-content">
      <Greeting
        client:load
        color="var(--accent)"
        fontSize="2.3rem"
        messages={[
          "Hey there!",
          "Hi there!",
          "Salaam!",
          "!سلام",
          "Howdy!",
          "Welcome my friend.",
          "Hello!",
          "Bonjour!",
        ]}
      />
      <p>
        I'm Farshad 👋🏼 - musician, coder, and teacher. I have a passion for
        building useful, joyful, accessible apps and helping others do the same.
      </p>
      <Image
        class="profile-image"
        src={profileImage}
        alt="profile"
        width={200}
        height={200}
      />
    </div>
    <RecentPosts />
  </div>
  <p>
    This is a little website and blog where I write about my coding journey,
    projects I'm working on, topics I'm passionate about, and other nerdy
    things. I focus mostly on tech and developer stuff, but I may veer into my
    other interests too. If you're looking for music and/or are not sure what
    all this is about, check out my
    <a href="https://farshadzadeh.com">other website</a>.
  </p>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .main-content {
    flex: 2;
    min-width: 300px;
  }
  .profile-image {
    border-radius: 50%;
  }
  @media screen and (min-width: 636px) {
    .container {
      flex-wrap: nowrap;
    }
  }
</style>
