---
import BaseLayout from "~layouts/BaseLayout.astro";

const pageTitle = "Resume";
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Node.js",
  "Svelte",
  "Rust",
];
---

<BaseLayout {pageTitle}>
  <p>My technical skills include:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</BaseLayout>
