---
const platform = "github";
const username = "fa-sharp";
---

<footer>
  <p>
    Made with 💕 by
    <a href={`https://${platform}.com/${username}`}>{username}</a>. Built with
    <a href="https://astro.build">Astro</a>.
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;

    font-size: 0.9em;

    margin-top: 3rem;
    border-top: solid 1px rgb(153, 153, 153);
  }
  a {
    padding: 0.2rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    background-color: #9059e3;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
</style>
