<div class="nav-links">
  <a href="/" class:list={{ current: Astro.url.pathname === "/" }}>Home</a>
  <a
    href="/blog"
    class:list={{ current: Astro.url.pathname.startsWith("/blog") }}
  >
    Blog
  </a>
  <a
    href="/projects"
    class:list={{ current: Astro.url.pathname.startsWith("/projects") }}
  >
    Projects
  </a>
</div>

<style>
  .current {
    border-bottom: solid;
  }
</style>
