---
import { getCollection } from "astro:content";
import BlogPost from "./BlogPostLink.astro";
import { Icon } from "astro-icon/components";

/** The five latest posts */
const recentPosts = (
  await getCollection("blog", (post) => post.data.status === "published")
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<section class="container">
  <h3 class="heading">
    Recent Posts <a href="/rss.xml"><Icon name="fa6-solid:rss" /></a>
  </h3>
  <ul class="list">
    {
      recentPosts.map((post) => (
        <BlogPost
          url={`/blog/${post.slug}`}
          title={post.data.title}
          date={post.data.pubDate}
        />
      ))
    }
  </ul>
</section>

<style>
  .container {
    flex: 1;

    height: fit-content;
    min-width: 200px;

    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--card-shadow);
  }
  .heading {
    display: flex;
    justify-content: space-between;

    margin-block: 0.3rem;
  }
  .list {
    padding-inline: 1rem;
    margin-block: 0.2rem;
  }
</style>
