---
import { Icon } from "astro-icon/components";

export interface Props {
  tags: Array<{
    url: string;
    name: string;
  }>;
}

const { tags } = Astro.props;
---

<div class="tags">
  <Icon aria-label="tags" name="fa6-solid:tags" size={20} />
  <ul class="tags">
    {
      tags.map((tag) => (
        <li class="tag">
          <a href={tag.url}>{tag.name}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tag {
    border: dotted 1px #a1a1a1;
    border-radius: var(--radius);
    padding: 1px 0.3em;
    background-color: #f8fcfd;
  }

  .tag a {
    color: #00539f;
    text-decoration: none;
  }
  .tag a:hover,
  .tag a:focus {
    text-decoration: underline;
  }
</style>
