ul.reactions {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.reactions > li {
  display: flex;
  margin: 0;
}

.iconButton {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;

  background: none;
  border: none;
  padding: 0;

  min-width: 2.4rem;
  color: inherit;
}
